
/* Grid from https://www.w3schools.com/css/css_grid.asp */
.header { grid-area: header; }
.Menu { grid-area: menu; }
.Main { grid-area: main; }
.Right { grid-area: right; }
.Footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'menu footer footer footer footer footer';
  gap: 3px;
  background-color: #ced5ba;
  padding: 10px;
}

.grid-container * {
  background-color: rgb(8, 73, 8);
  text-align: center;
  padding: 0px 0;
  font-size: 30px;
  font-family: Helvetica;
  color:beige
  
}

a:hover {
color: rgb(170, 166, 166);
font-size: 32px;
}
a:active {
color: rgb(154, 152, 152);
}
